/* @media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .feature-boxes {
        flex-direction: column;
    }

    .stats-boxes, .feature-content, .blog-posts, .footer-content {
        flex-direction: column;
        text-align: center;
    }
} */
